@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-display: "Montserrat", "sans-serif";
    --color-gray: #171717;
    --color-light-gray: #1E1E1E;
    --color-green-dark: #053D38;
    --color-green-medium: #34675C;
    --color-green-light: #A3CCAB;
    --color-orange: #F26800;
}


body {
    @apply m-0 p-0 font-normal font-display;
}